# Entornos y secretos
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node / Angular
node_modules/
dist/

# Flutter/Dart
.dart_tool/
build/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
